body{
	margin: 0px;
}
a{
	text-decoration: none;
}
.container{
	margin: 0 80px;
}
div{
	display: inline-block;
}
.header-li{
	display:inline-block;
	margin-left: 15px;
	font-family: 'Montserrat', sans-serif;
	
}
.header-li-a{
	color:#343e5c;
}
.header-nav{
	margin-left: 130px;
}
#svg-logo{
	width: 20px;
	height: 20px;
}
.header-cart{
	margin-left: 90px;
	font-family: 'Montserrat', sans-serif;
}
.header-sign-in{
	margin-left: 40px;
	font-family: 'Montserrat', sans-serif;
}
header{
	border-bottom: 1px solid #e3e8f0;
	margin-top:20px;
	padding-bottom: 15px;
}
.header-span{
	background-color: #e3e8f0;
    border-radius: 90px;
    padding: 6px 9px 8px 9px;
    font-size: 11px;
    margin-left: 7px;
}
.header-cart-a{
	margin-left:7px;
}
.header-in{
	background-color: #fff;
	color: #343e5c;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #e3e8f0;
    border-radius: 21px;
    padding: 8px 16px;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 15px;
}
.main-li{
	display:inline-block;
	display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 19px;
}
.main-li-a-i{
	color:#343e5c;
}
.main-li-a{
	color:#cacedc;
}
.main-ul{
	margin-left: 50px;
}
ul{
	list-style-type: none;
	padding:0px;
}
form{
	display:inline-block;
}
.sup{
	margin-left: 220px;
}
.search{
	border-left: 1px solid #f0f2f7;
    border-right: 1px solid #f0f2f7;
    padding: 27px 0px 27px 27px;
    padding-right: 27px;
}
.main-img{
	height: 20px;
	width: 20px;
	vertical-align: middle;
}
.content{
	background-image: url(../img/main/bg2.jpg);
	color:#fff;
	height: 500px;
}
.content-h1{
	margin-left: 98px;
	margin-top:100px;
font-size: 42px;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 900;
    }
.content-p1{
	margin-left: 98px;
	margin-top:35px;
	font-family: 'Crimson Text', serif;
    color: #fff;
    font-size: 16px;
}
.content-button{
	margin-left: 98px;
	margin-top:60px;
	background-color: #2754eb;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    border-radius: 21px;
    padding: 10px 41px;
    font-size: 14px;
    text-transform: uppercase;
    border:none;
}